@import "tailwindcss";

::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: #373738;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6556cd;
    border-radius: 10px;
}